# Build directories
build/
bin/
out/
cmake-build-*/
CMakeUserPresets.json

# IDE / Editor files
.idea/
.vscode/
*.iml
*.iws
*.ipr
*.swp
*~

# Operating System
.DS_Store
Thumbs.db

# Compiled files & dumps
*.o
*.obj
*.so
*.dylib
*.dll
*.a
*.lib
*.exe
/core
core.[0-9]*
vgcore.*

# bgfx tool logs
bgfx_tool_logs/
